{% extends "base/index.html" %}

{% block contenido %}

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <center>
                        <h1>Tabla Lotes</h1>
                    </center>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">lot number</th>
                                <th scope="col">census ID</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in lotes %}
                                <tr>
                                    <td>{{a.numero_lote}}</td>
                                    <td>{{a.establecimiento_id}}</td>
                                    <td>{{a.padron_id}}</td>
                                    <td>
                                        <a href="{% url 'lotes:editar_tabla_lotes' a.pk %}">Edit</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'lotes:eliminar_campo_lotes' a.pk %}">Remove</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td>No se encontraron resultados</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}