{% extends "base/index.html" %}

{% block contenido %}

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <center>
                        <h1>Tabla Variedad de Semilla</h1>
                    </center>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Descripcion Variedad</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in variedad %}
                                <tr>
                                    <td>{{a.id}}</td>
                                    <td>{{a.descripcion_variedad}}</td>
                                    <td>
                                        <a href="{% url 'variedad:editar_tabla_variedad_semilla' a.pk %}">Editar</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'variedad:eliminar_campo_variedad' a.pk %}">Eliminar</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td>No se encontraron resultados</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}