{% extends "base/index.html" %}

{% block contenido %}

   <div class="album py-5 bg-light">
        <div class="container">
            <div class="col">
                <center>
                    <h1>Variedad de Semilla</h1>
                    <br><br>
                </center>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="bd-example">
                    <div class="col">
                        <form method="POST">{% csrf_token %}
                            <center>
                                {% include "includes/_forms_errors.html" with formulario=form %}
                                {% include "includes/_forms.html"  with formulario=form %}
                                    <button type="submit" class="btn btn-success">Guardar</button>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><hr>
				
{% endblock contenido %}