{% extends "base/index.html" %}

{% block contenido %}


    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <center>
                        <h1>Datos</h1>
                    </center>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombres y Apellidos</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in lista_padron %}
                                <tr>
                                    <td>{{a.codigo_cliente}}</td>
                                    <td>{{a.nombre_completoApellidos}}</td>
                                    <td>
                                        <a href="{% url 'padron:editar_tabla_padron' a.pk %}">Editar</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'padron:eliminar_campo_padron' a.pk %}">Eliminar</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td>No se encontraron resultados</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Codigo Productor</th>
                                <th scope="col">Cuit Chofer</th>
                                <th scope="col">Patente Camion</th>
                                <th scope="col">Patente Acomplado</th>
                                <th scope="col">Fecha Actual</th>
                                <th scope="col">Chofer ID</th>
                                <th scope="col">Establecimiento ID</th>
                                <th scope="col">Lotes ID</th>
                                <th scope="col">Padron ID</th>
                                <th scope="col">Tipo de Algodon ID</th>
                                <th scope="col">Variedad ID</th>
                                <th></th>
                                <th></th>

                            </tr>
                        </thead>
                        <br><br>
                        <tbody>
                            {% for a in lista_balaza %}
                                <tr>
                                    <td>{{a.numero_remito}}</td>
                                    <td>{{a.codigo_productor}}</td>
                                    <td>{{a.cuit_chofer}}</td>
                                    <td>{{a.patente_camion}}</td>
                                    <td>{{a.patente_acoplado}}</td>
                                    <td>{{a.fecha_actual}}</td>
                                    <td>{{a.chofer_id}}</td>
                                    <td>{{a.establecimiento_id}}</td>
                                    <td>{{a.lotes_id}}</td>
                                    <td>{{a.padron_id}}</td>
                                    <td>{{a.tipo_alg_id}}</td>
                                    <td>{{a.variedad_id}}</td>
                                    <td>
                                        <a href="{% url 'balanza:editar_tabla_balanza' a.pk %}">Edit</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'balanza:eliminar_campo_balanza' a.pk %}">Remove</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td>No se encontraron resultados</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock contenido %}