{% extends "base/index.html" %}

{% block contenido %}

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <center>
                        <h1>Tabla Establecimiento</h1>
                    </center>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Establishment Description</th>
                                <th scope="col">Province</th>
                                <th scope="col">Department</th>
                                <th scope="col">Census ID</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in establecimiento %}
                                <tr>
                                    <td>{{a.codigo_establecimiento}}</td>
                                    <td>{{a.descripcion_establecimiento}}</td>
                                    <td>{{a.provincia}}</td>
                                    <td>{{a.departamento}}</td>
                                    <td>{{a.padron_id}}</td>
                                    <td>
                                        <a href="{% url 'establecimiento:editar_tabla_establecimiento' a.pk %}">Edit</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'establecimiento:eliminar_campo_establecimiento' a.pk %}">Remove</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td>No se encontraron resultados</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}