{% extends "base/index.html" %}

{% block contenido %}

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <center>
                        <h1>Tabla Tipo de Algodon</h1>
                    </center>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">harvest description</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in algodon %}
                                <tr>
                                    <td>{{a.id}}</td>
                                    <td>{{a.descripcion_cosecha}}</td>
                                    <td>
                                        <a href="{% url 'tipo_alg:editar_tabla_tipo_algodon' a.pk %}">Edit</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'tipo_alg:eliminar_campo_tipo_alg' a.pk %}">Remove</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td>No se encontraron resultados</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}