{% extends "base/index.html" %}

{% block contenido %}

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <center>
                        <h1>Tabla Chofer</h1>
                    </center>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Nombre y Apellido</th>
                                <th scope="col">Carnet Conducir Chofer</th>
                                <th scope="col">Numero Cuit Chofer</th>
                                <th scope="col">Padron ID</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in chofer %}
                                <tr>
                                    <td>{{a.codigo_transportista}}</td>
                                    <td>{{a.descripcion_transportista}}</td>
                                    <td>{{a.carnet_conducir_chofer}}</td>
                                    <td>{{a.num_cuit_chofer}}</td>
                                    <td>{{a.padron_id}}</td>
                                    <td>
                                        <a href="{% url 'chofer_camion:editar_tabla_chofer' a.pk %}">Editar</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'chofer_camion:eliminar_campo_chofer' a.pk %}">Eliminar</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td>No se encontraron resultados</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}