{% extends "base/index.html" %}

{% block contenido %}

   <div class="album py-5 bg-light">
        <div class="container">
            <div class="col">
                <center>
                    <h1>Balanza</h1>
                    <br><br>
                </center>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form method="POST">{% csrf_token %}
                    <center>
                        <!--{{form.as_p}}-->
                        {% include "includes/_forms_errors.html" with formulario=form %}
		                {% include "includes/_forms.html"  with formulario=form %} <!--Despues agregar los estilos a los forms-->
                            <button type="submit" class="btn btn-success">Guardar</button>
                    </center>
                </form>
            </div>
        </div>
        <br><br><hr>
				
{% endblock contenido %}