{% extends "base/index.html" %}

{% block contenido %}

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <center>
                        <h1>Tabla Balanza</h1>
                    </center>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Producer Code</th>
                                <th scope="col">Cuit Driver</th>
                                <th scope="col">Patent Truck</th>
                                <th scope="col">Coupled Patent</th>
                                <th scope="col">Current Date</th>
                                <th scope="col">Driver ID</th>
                                <th scope="col">Establishment ID</th>
                                <th scope="col">Lots ID</th>
                                <th scope="col">Census ID</th>
                                <th scope="col">Cotton Type ID</th>
                                <th scope="col">Variety ID</th>
                                <th></th>
                                <th></th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for a in balanza %}
                                <tr>
                                    <td>{{a.numero_remito}}</td>
                                    <td>{{a.codigo_productor}}</td>
                                    <td>{{a.cuit_chofer}}</td>
                                    <td>{{a.patente_camion}}</td>
                                    <td>{{a.patente_acoplado}}</td>
                                    <td>{{a.fecha_actual}}</td>
                                    <td>{{a.chofer_id}}</td>
                                    <td>{{a.establecimiento_id}}</td>
                                    <td>{{a.lotes_id}}</td>
                                    <td>{{a.padron_id}}</td>
                                    <td>{{a.tipo_alg_id}}</td>
                                    <td>{{a.variedad_id}}</td>
                                    <td>
                                        <a href="{% url 'balanza:editar_tabla_balanza' a.pk %}">Edit</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'balanza:eliminar_campo_balanza' a.pk %}">Remove</a>
                                    </td>
                                </tr>
                            {% empty %}
                                <tr>
                                    <td>No se encontraron resultados</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}